#resume{
  #cv-head{
    border-bottom: 2px solid red;
    margin-bottom: 20px;
    @include grid-column;
    #name{
      font-size: 28px;
      font-family: 'Arvo', Georgia, Times, serif;
      font-weight: 300;
      width: 80%;
      float: left;
      line-height: 90px;
    }
    #thumbnail{
      margin-top: 10px;
      height: 80px;
      width: 90px;
      float: left;

      &:after{
        content: "";
        clear: both;
      }
    }
    #contact-container{
      float: left;
      width: 80%;
      margin-top: 20px;
      padding-left: 0 !important;
      div{
        width: 33%;
        float: left;
      }
    }
  }
  #cv-content{
    @include grid-column;
    .left-tag{
      @include grid-column(2);
    }
    .right-tag{
      @include grid-column(10);
    }
    .tag-sign{
      background-color: #1570A6;
      margin-top: 7px;
      padding: 5px 30px;
      color: white;
      box-shadow: 2px 1px 2px #1570A6;
      -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
    }
    #summary ul{
      margin-top: 10px;
    }

    section{
      margin: 10px 0;

      p{
        margin-bottom: 0;
        margin-top:10px;
      }
      .title{
        color: orange;
        font-size: 20px;
        font-weight: 500;
      }
      .company{
        font-size: 16px;
        font-weight: 600;
      }
      .time{
        font-size: 16px;
        font-weight: 600;
        float: right;
      }
    }
  }
}