@import url('https://fonts.googleapis.com/css2?Kanit:wght@600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300&family=Shadows+Into+Light&family=Source+Sans+Pro:wght@200&family=Tinos&display=swap');

body {
  margin: 0;
  font-size: 16px;
  line-height: 31px;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(242, 242, 242);
  color: rgba(17, 17, 17)
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  padding: 5px 0 20px;
  margin: 40px auto;
  width: 80.77%;
}

.footer {
  min-height: 300px;
  background-color: white;
}

ul h6 {
  float: left;
  width: 90px;
}

article {
  padding: 19px 9.615% 22px;
  margin: 80px auto 60px;
}

h1 {
  padding: 20px 0 20px;
  font-size: 5em;
  font-family: 'Roboto', sans-serif;
  line-height: 80px;
}

h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 48px;
  padding-top: 16px;
}

h3 {
  font-weight: 600;
  line-height: 48px;
}

h4 {
  float: left;
  line-height: 21px;
  width: 40%;
}

h6 {
  font-weight: inherit;
  color: #6E6E6E;
}


b {
  font-weight: 600;
}

ol {
  padding-left: 18px;
}

ol li {
  list-style-type: disc;
  padding-left: 18px;
}

.project-intr__container {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
}

.project-intro__item {
  width: 200px;
  border-top: 1px solid #6E6E6E;
}

.project-intr__container p {
  padding: 16px 0;
  font-weight: 600;
}