@import url('https://fonts.googleapis.com/css2?Kanit:wght@600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300&family=Shadows+Into+Light&family=Source+Sans+Pro:wght@200&family=Tinos&display=swap');

body {
  margin: 0;
  font-size: 16px;
  line-height: 31px;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(242, 242, 242);
  color: rgba(17, 17, 17)
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


article {
  max-width: 1160px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



ul h6 {
  float: left;
  width: 90px;
}


h1 {
  padding: 20px 0 20px;
  font-size: 5em;
  font-family: 'Roboto', sans-serif;
  line-height: 80px;
}

h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 48px;
  padding-top: 16px;
}

h3 {
  font-weight: 600;
  line-height: 48px;
}

h4 {
  float: left;
  line-height: 21px;
  width: 40%;
}

h6 {
  font-weight: inherit;
  color: #6E6E6E;
}


b {
  font-weight: 600;
}

ol {
  padding-left: 18px;
}

ol li {
  list-style-type: disc;
  padding-left: 18px;
}

@media all and (max-width: 1200px) {
  article {
    margin: 0 24px;
  }

  h1 {
    font-size: 4em
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}